@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
@font-face {
	font-family:'Practice';
	src:local('practice-font.otf'),url("../font/practice-font.otf") format("opentype");
}
@font-face {
	font-family:'Boldness';
	src:local('boldness.otf'),url("../font/boldness.otf") format("opentype");
}
/* 
    font-family: 'Noto Sans KR', sans-serif; 
    font-family: 'Practice';
    font-family: 'Boldness';
*/

:root{
    /* --green-color:#2D382D; */
    --main-color:#2D3E36;
    --point-color:#43D9AB;
}

body{width:100%;height:100%;overflow-x:hidden;font-size:1em;background-color:#000;color:#ffffff;font-family: 'Noto Sans KR', sans-serif;}
#container{
    width:100%;height:100%;overflow-x:hidden;
    /* background:linear-gradient(#000000,#2D3E36); */
    background:#2D3E36;
    /* perspective:1px;transform-style:preserve-3d; */
}

header #gnb{position:fixed;left:50%;transform:translate(-50%,0);height:64px;z-index:999;margin-top:50px;}
header #gnb .menu{display:flex; justify-content:center; align-items:center;}
header #gnb .menu li{margin:0 65px;}
header #gnb .menu li a{color:#ffffff; font-family:'Noto Sans KR', sans-serif; font-size:1rem;}
header #gnb .menu li:hover{opacity:0.5; transition:all .4s ease;}
header #gnb .menu li:hover::after{content:'';display:block;width:100%;height:1px;background:#fff;margin:7px 0;}
header #gnb .menu .main-logo:hover img{opacity:0.5; transition:all .4s ease;}

header #scroll-nav.hide{-webkit-transform:translateX(-100%);-moz-transform:translateX(-100%);-ms-transform:translateX(-100%);-o-transform:translatex(-100%);transform:translateX(-100%)}
header #scroll-nav{
    position:fixed;z-index:999;width:140px;height:100vh;
    display:flex;flex-direction:column;justify-content:center;
    transition:all 0.4s ease-in;
}
header #scroll-nav::after{content:'';position:absolute;right:0;display:inline-block;width:2px;height:100vh;background-color:#fff;opacity:0.5;}
header #scroll-nav ul{}
header #scroll-nav ul li{padding:55px;position:relative;}
header #scroll-nav ul li a::after{content:'';position:absolute;top:50%;right:0;transform:translate(0,-50%);display:inline-block;width:4px;height:0;z-index:1000;background-color:var(--point-color);}
header #scroll-nav ul li a{font-family:'Practice';font-size:1.25rem;color:#fff;opacity:0.5;}
header #scroll-nav ul li a:hover, header #scroll-nav ul li a.active{color:var(--point-color);opacity:1;transition:all 0.4s ease-in;}
header #scroll-nav ul li a.active::after{height:100%;}

.section{position:relative;width:100%;height:100vh;margin:130px 0;overflow:hidden;}
.content{position:relative;width:1400px;height:100%;margin-left:auto;margin-right:auto;}

.content h3{font-family:'Practice';font-size:3.125rem;margin-bottom:54px;line-height:150%;}
.index-title{font-family:'Noto Sans KR', sans-serif;color:var(--point-color); font-size:1.25rem; margin-bottom:10px;}

p, dd{word-break:keep-all;line-height:220%;}

/* Top Button */
.btn-wrap{position:relative;margin:93px;margin-right:140px;}
.btn-wrap .top{position:absolute;right:0;bottom:93px;display:inline-block;width:97px;height:97px;border-radius:50%;background-color:#fff;}
.btn-wrap .top .btnTop-img{position:relative;width:50px;height:50px;}
.btn-wrap .top .btnTop-img img{position:absolute;top:50%;left:50%;}

/* Cursor */
#cursor{
    position:absolute;top:0;left:0;transform:translate(-50%, -50%); 
    width:10px;height:10px;background-color:var(--point-color);
    pointer-events:none;border-radius:100%;z-index:1000;
}