/* PREVIEW STYLE */
#preview{background-color:var(--main-color);display:block;z-index:2;}
#preview .content{display:flex;flex-direction:column;justify-content:center;}
#preview .content .desc{width:928px;text-align:center;margin:auto;}
#preview .content .desc p{font-size:1.25rem;font-weight:200;margin-top:42px;opacity:0.7;}


/* MAP STYLE */
#map{background:var(--green-color);}
#map .back-img{
    width:100%; height:100%;
    background-image:url('../img/map-back.png'); background-size:100%;
    background-repeat:no-repeat;
}
#map .content{position:relative;display:flex;align-items:center;z-index:1;}
#map .content .txt-area{width:472px;margin-left:118px;}
#map .content .txt-area h3 .title{width:260px;}
#map .content .txt-area p{font-weight:300;}
#map .content .img-area{position:relative;}
#map .content .img-area .map-pin{color:var(--point-color);font-size:1.125rem;position:absolute;top:35%;left:63%;}
#map .content .img-area .map-pin::before{content:'';display:inline-block;width:13px;height:13px;background-color:var(--point-color);border-radius:50%;margin-right:14px;}
#map .content .img-area .map-img{margin-left:70px;display:inline;}
#map .bg-img{position:absolute;top:0;left:0;width:100%;height:100%;opacity:0.2;z-index:0;}



/* CAUSE STYLE */
#cause{}
#cause .content .c1{position:relative;top:50%;transform:translate(0,-50%);display:flex;justify-content:center;align-items:baseline;}
#cause .content .c1 .txt-area{width:600px;margin-left:118px;}
#cause .content .c1 .txt-area h3 .title{}
#cause .content .c1 .txt-area p{font-weight:300;width:456px;}
/* slide */
#cause .content .c1 .slide{position:relative;margin-left:118px;}
#cause .content .c1 .slide .slide-img{position:relative;width:832px;height:468px;margin-bottom:10px;}
#cause .content .c1 .slide .slide-img .img-wrap{width:2498px;height:100%;position:relative;display:flex;}
#cause .content .c1 .slide .slide-img .img-wrap .cs-img{width:100%;height:100%;}
#cause .content .c1 .slide .slide-img .img-wrap .cs-img img{display:inline-block;width:100%;height:100%;vertical-align:top;}
#cause .content .c1 .slide .slide-img .paddle-wrap{position:absolute;display:flex;align-items:center;}
#cause .content .c1 .slide .paddle-wrap .paddle{width:60px;height:60px;margin-right:15px;padding:15px;cursor:pointer;transition:all .3s ease;}
#cause .content .c1 .slide .paddle-wrap .paddle:hover{background:#fff;border-radius:50%;}
#cause .content .slide .paddle-wrap .paddle.prev{transform:rotate(-90deg);}
#cause .content .slide .paddle-wrap .paddle.next{transform:rotate(90deg);}

#cause .content .c2{text-align:center;margin-top:150px;}
#cause .content .c2 h3{}
#cause .content .c2 .img-area{margin-bottom:97px;}
#cause .content .c2 .img-area .img-wrap{width:790px;}
#cause .content .c2 .txt-area{}
#cause .content .c2 .txt-area .desc-wrap{}
#cause .content .c2 .txt-area .desc-wrap .desc{width:600px;font-weight:300;}
#cause .content .c2 .txt-area .desc-wrap .desc.hidden{display:none;}


/* PROCESS STYLE */
#process{margin-bottom:134px;}
#process .content{position:relative;display:flex;flex-direction:column;justify-content:center;}
#process .content h3{display:flex;flex-direction:column;align-items:center;}
#process .content h3 .title{width:512px;text-align:center;}
#process .content .list-wrap{display:flex;margin-left:16px;width:100%;height:100%;}
#process .content .list-wrap .list{margin-right:16px;margin-top:118px;border-right:1px solid #fff;}
#process .content .list-wrap .list dl{padding:0 45px;margin-bottom:84px;display:flex;flex-direction:column;align-items:center;}
#process .content .list-wrap .list dl dt{font-size:1.25rem;margin-bottom:38px;}
#process .content .list-wrap .list dl dt.index{color:var(--point-color);font-family:'Practice';font-size:2rem; margin-bottom:20px;}
#process .content .list-wrap .list dl dd{width:100%;text-align:center;}
#process .content .list-wrap .list .img-area{}
#process .content .list-wrap .list .img-area .time{
    font-size:2.375rem;font-weight:700;opacity:0.5;
    position:relative;top:13px;
}

/* STICKY IMAGE STYLE*/
#sticky-img{}
#sticky-img.fixed .img-wrap{position:fixed;top:0;right:0;bottom:0;left:0}
#sticky-img .img-wrap{position:relative;top:0;right:0;bottom:0;left:0;width:100%;height:100vh}
#sticky-img .img-wrap img{overflow:hidden;position:absolute;display:block;top:0;left:0;width:100%;height:100%;pointer-events:none;object-fit:cover;-o-object-fit:cover;object-position:center;-o-object-position:center}


/* DAMAGE STYLE */
#damage{background:var(--main-color);}
#damage .content{display:flex;justify-content:center;align-items:center;}
#damage .content .content-item{display:none;}
#damage .content .content-item.visible{display:flex;justify-content:center;align-items:center;}
#damage .content .content-item .keyword{width:574px;font-family:'Practice';font-size:10.625rem;color:var(--point-color);}
#damage .content .content-item .keyword .word{}
#damage .content .content-item .keyword .s{font-size:8.125rem;}
#damage .content .content-item .keyword .unit{font-size:3.125rem;}
#damage .content .content-item .line{width:100%;height:1px;margin:0 30px;background-color:#fff;}
#damage .content .content-item .txt-area{width:600px;}
#damage .content .content-item .txt-area .desc{}